@font-face {
    font-family: 'font'; 
    src: url('fonts/FredokaOne-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
*{
    padding:none;
    margin:none;
    box-sizing: border-box;
    font-family: 'font';
}
p, h2, a, li{
    font-family:Arial, Helvetica, sans-serif;
}
header{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/background.jpg);
    opacity: 0.7;
    z-index: -1;
}

#header_text{
    opacity:1 !important;
    color:black;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateX(-100%);
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0,001s;
    animation-fill-mode: forwards;
}
#header_text.slide-in {
    opacity: 1;
    transform: translateX(0);
  } 
@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
#header_text h1{
    font-size: 20vh;
    z-index:1;

}
#header_text p{
    background-color:transparent;
    display:inline;
    top:0;
    left:0;
    z-index:1;
    transform: translate(-25%, -25%);
    color:white;
    z-index:1;
}
#header_text img{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width:15vw;
    margin:0 auto;
}

footer {
    margin-top:3vh;
    padding-top: 1vw;
    padding-right: 1vw;
    width:100vw;
    height:15vh;
    margin-left: 1vw;
    border-color: black;
    z-index:1;
    display: flex;
    align-items: center;
}

.parte_principale{
    margin-left: 1vw;
    font-size: larger;
}
.partner.visible {
    padding:0;
    opacity:0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(-10%);
    animation-name: slideInCosa;
    animation-duration: 1s;
    animation-delay: 0,001s;
    animation-fill-mode: forwards;
}

.cose.visible{
    padding:0;
    opacity:0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(-10%);
    animation-name: slideInCosa;
    animation-duration: 1s;
    animation-delay: 0,001s;
    animation-fill-mode: forwards;
}
@keyframes slideInCosa {
    from {
      transform: translateY(-10%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
#logo_piano_infinito {
    width:10vw;
}
.div-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: x-large;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 20;
    color: black;
    text-decoration: none;
    font-weight: 700;
    margin-left: 40;
}

.div_lezioni{
    position:absolute;
    left: 50vw;
    background-color: #81d82e;
    width:40vw;
    top:50vw;
}

.div_lezioni h2{
    background-color: #30a30a;
    text-align: center;
}

.div_lezioni ul{
    width:fit-content;
}

.div_lezioni p{
    margin-left: 0;
    opacity:0;
}
.lezioni{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li{
    display:inline;
}
li:hover{
    background-color: darkgreen;
}
