@font-face {
    font-family: 'font'; 
    src: url('fonts/FredokaOne-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
*{
    padding:none;
    margin:none;
    box-sizing: border-box;
    font-family: 'font';
}
header{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/background.jpg);
    opacity: 0.7;
    z-index: -1;
}

#header_text{
    opacity:1 !important;
    color:black;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateX(-100%);
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0,001s;
    animation-fill-mode: forwards;
}
#header_text.slide-in {
    opacity: 1;
    transform: translateX(0);
  } 
@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
#header_text h1{
    font-size: 20vh;
    z-index:1;

}
#header_text p{
    background-color:transparent;
    display:inline;
    top:0;
    left:0;
    z-index:1;
    transform: translate(-25%, -25%);
    color:white;
    z-index:1;
}
#header_text img{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width:15vw;
    margin:0 auto;
}

footer {
    margin-top:3vh;
    padding-top: 1vw;
    padding-right: 1vw;
    margin-left: 1vw;
    width:100vw;
    height:15vh;
    border-color: black;
    z-index:1;
    display: flex;
    align-items: center;
}

.cosa{
    margin-left: 1vw;
    font-size: larger;
}
.cosa.visible {
    padding:0;
    opacity:0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(-10%);
    animation-name: slideInCosa;
    animation-duration: 1s;
    animation-delay: 0,001s;
    animation-fill-mode: forwards;
}
@keyframes slideInCosa {
    from {
      transform: translateY(-10%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}