<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <header>
            <nav>
                <ul class="sidebar">
                  <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
                  <li><a href="#" onclick="scrollToCose()">Cos'è</a></li>
                  <li><a href="#" onclick="location.href='{{ url_for('lezioni_partner') }}'">Giornate</a></li>
                  <li><a href="#" onclick="location.href='{{ url_for('lezioni_partner') }}'">Mappa</a></li>
                </ul>
                <ul>
                  <li><a href="#">In-Mobilitá</a></li>
                  <li class="hideOnMobile"><a href="#" onclick="scrollToCose()">Cos'è</a></li>
                  <li class="hideOnMobile"><a onclick="location.href='{{ url_for('lezioni_partner') }}'">Giornate</a></li>
                  <li class="hideOnMobile"><a onclick="location.href='{{ url_for('lezioni_partner') }}'">Mappa</a></li>
                  <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a></li>
                </ul>
            </nav>
            
  <script>
    function showSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'flex'
    }
    function hideSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'none'
    }
  </script>



            <div id="header_text">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="logo">
                <p class="paragrafo">
                    Tempo rimasto dall'inaugurazione: <span id="countdown"></span>
                </p>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script>
                    function scrollToCose() {
                    var coseElement = document.querySelector('.cose');
                    coseElement.scrollIntoView({ behavior: 'smooth' });
                    }
                    function scrollToPartner() {
                    var coseElement = document.querySelector('.partner');
                    coseElement.scrollIntoView({ behavior: 'smooth' });
                    }
                    function scrollToGiornate() {
                    var coseElement = document.querySelector('#carouselExampleDark');
                    coseElement.scrollIntoView({ behavior: 'smooth' });
                    }
                    $(document).ready(function() {
                        function updateCountdown() {
                            $.getJSON('/update_countdown', function(data) {
                                $('#countdown').html(data.days + ' giorni, ' + data.hours + ' ore, ' + data.minutes + ' minuti, ' + data.seconds + ' secondi');
                            });
                        }
                        updateCountdown();
                        setInterval(updateCountdown, 1000);
                    });
                </script>
                <h1 class="titolo">IN-MOBILIT&Agrave</h1>
            </div>
            <script>
                const otherElement = document.querySelector('.logo');
                const rect = otherElement.getBoundingClientRect();
        
                const overlay = document.querySelector('.paragrafo');
                overlay.style.top = `${rect.top}px`;
                overlay.style.left = `${rect.left}px`;

            </script>
        </header>

        <br>

            <br>
                </div>
            <br>

            <div class="container1">

              <div class="container2">

              <div class="colonna">
                <div class="containersezione">
                  <img  src="{{ url_for('static', filename='images/20240201_112952.jpg') }}" class="immaginine">
                </div>
              </div>

              <div class="colonna">
                <div class="containersezione">
                  <div class="cose_div">
                    <h2 class="cose">Cos'è in-mobilità?</h2><br>
                      <p id="cose_p">In-mobilità è il progetto a cui stiamo partecipando per la creazione di un’aula scolastica all'aperto, chiamata mobility corner, in collaborazione con gli architetti di Camposaz e molte altre associazioni
</p>
                    </div>
                </div>
              </div>

              </div>



            <br id="big-bro">


            <div class="text_partner">
              <div class="parte_principale">
                <h2 class="partner">Partner scolastici</h2>
                      <p>
                        - Vicenza: IIS Canova <br>
                        - Vicenza: ITIS Rossi <br>
                        - Schio: Liceo Tron-Zanella <br>
                        - Montecchio: IIS Silvio Ceccato <br>
                        - Thiene: ITET Aulo Ceccato <br>
                      </p>
                  <h2 class="partner">Partner e organizzazioni operative:</h2>
                  <p>
                      - Con il supporto della Fondazione CariVerona<br>
                      - City Campus - <a href="https://citycampusvicenza.it/">https://citycampusvicenza.it/</a><br>
                      - Cooperativa Urbana<br>
                      - Referente mobilità: civi&co e veloCittà<br>
                      - Referente Mobility Corner: Camposaz<br>
                      - Vicenza: Arci Servizio Civile<br>
                      - Schio: Samarcanda coop. sociale<br>
                      - Montecchio: Piano Infinito<br>
                      - Thiene: Radicà cooperativa sociale<br>
                  </p>
                  <h2 class="partner">Partner istituzionali</h2>
                      <p>
                      - Provincia di Vicenza<br>
                      - USRV-Ufficio VIII - Ambito Territoriale di Vicenza<br>
                      </p>
                  </div>
                  </div>


<footer class="footer">
  <div>
    <br id="big-bro">
      <p>
        © 2024 Studenti SilvioCeccato.<br>
        Crediti: <br>Programmatore principale:Pratham Madaan 2BI, <br>Altri programmatori:Giordano Peressini 2AI, <br>Referente: Professor Gianmario Pocchettini<br> Logo: Samuele Todesco, 2BI<br>
        Preside Istituto: prof.ssa Antonella Sperotto
      </p>
      <img src="/static/images/piano_infinito.jpg" alt="logo piano infinito" id="logo_piano_infinito">
    </div>
    <br>
</footer>
    </body>
</html>
