<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <header>
            <nav>
                <ul class="sidebar">
                  <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
                  <li><a onclick="location.href='{{ url_for('homes') }}'">Cos'è</a></li>
                  <li><a href="#" onclick="scrollToGiornate()">Giornate</a></li>
                  <li><a href="#" onclick="scrollToMappa()">Mappa</a></li>
                </ul>
                <ul>
                  <li><a onclick="location.href='{{ url_for('homes') }}'">In-Mobilitá</a></li>
                  <li class="hideOnMobile"><a onclick="location.href='{{ url_for('homes') }}'">Cos'è</a></li>
                  <li class="hideOnMobile"><a href="#" onclick="scrollToGiornate()">Giornate</a></li>
                  <li class="hideOnMobile"><a href="#" onclick="scrollToMappa()">Mappa</a></li>
                  <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a></li>
                </ul>
            </nav>
            
  <script>
    function showSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'flex'
    }
    function hideSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'none'
    }
  </script>



            <div id="header_text">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="logo">
                <p class="paragrafo">
                    Tempo rimasto dall'inaugurazione: <span id="countdown"></span>
                </p>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script>
                    function scrollToCose() {
                    var coseElement = document.querySelector('.cose');
                    coseElement.scrollIntoView({ behavior: 'smooth' });
                    }
                    function scrollToMappa() {
                    var coseElement = document.querySelector('#aula');
                    coseElement.scrollIntoView({ behavior: 'smooth' });
                    }
                    function scrollToGiornate() {
                    var coseElement = document.querySelector('#carouselExampleDark');
                    coseElement.scrollIntoView({ behavior: 'smooth' });
                    }
                    $(document).ready(function() {
                        function updateCountdown() {
                            $.getJSON('/update_countdown', function(data) {
                                $('#countdown').html(data.days + ' giorni, ' + data.hours + ' ore, ' + data.minutes + ' minuti, ' + data.seconds + ' secondi');
                            });
                        }
                        updateCountdown();
                        setInterval(updateCountdown, 1000);
                    });
                </script>
                <h1 class="titolo">IN-MOBILIT&Agrave</h1>
            </div>
            <script>
                const otherElement = document.querySelector('.logo');
                const rect = otherElement.getBoundingClientRect();
        
                const overlay = document.querySelector('.paragrafo');
                overlay.style.top = `${rect.top}px`;
                overlay.style.left = `${rect.left}px`;

            </script>
        </header>
        <h2 class="partner" class="argomenti" id="argomenti">Argomenti trattati nei vari incontri:</h2>
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>            
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>               
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Giornata 1</h5>
                    </div>
                    <img src="{{ url_for('static', filename='images/g/g1.jpg') }}" class="d-block w-100" alt="giornate 1">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Giornata 2</h5>
                    </div>
                    <img src="{{ url_for('static', filename='images/g/g2.jpg') }}" class="d-block w-100" alt="giornate 2">
                  </div>
                  <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Giornata 3</h5>
                    </div>
                    <img src="{{ url_for('static', filename='images/g/g3.jpg') }}" class="d-block w-100" alt="giornata 3">
                  </div>
                                      <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Giornata 4</h5>
                    </div>
                    <img src="{{ url_for('static', filename='images/g/g4.jpg') }}" class="d-block w-100" alt="giornata 4">
                  </div>
                                                          <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Giornata 4</h5>
                    </div>
                    <img src="{{ url_for('static', filename='images/g/g5.jpg') }}" class="d-block w-100" alt="giornata 5">
                  </div>
                                                          <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Giornata 4</h5>
                    </div>
                    <img src="{{ url_for('static', filename='images/g/g6.jpg') }}" class="d-block w-100" alt="giornata 6">
                  </div>
                                                          <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Giornata 4</h5>
                    </div>
                    <img src="{{ url_for('static', filename='images/g/g7.jpg') }}" class="d-block w-100" alt="giornata 7">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        <script>
            // Function to check if an element is fully in viewport
            function isElementFullyInViewport(el) {
                var rect = el.getBoundingClientRect();
                return (
                    rect.top >= 0 &&
                    rect.left >= 0 &&
                    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                );
            }
        
            // Function to handle scroll event
            function handleScroll(elementss) {
                var elementsToShow = document.querySelectorAll(elementss);
                elementsToShow.forEach(function(element) {
                    if (isElementFullyInViewport(element)) {
                        element.classList.add('visible');
                    } else {
                        element.classList.remove('visible');
                    }
                });
            }
        
            // Add scroll event listener
            window.addEventListener('scroll', function() {
                handleScroll('.partner');
                handleScroll('.cose');
            });
            handleScroll('.partner');
            handleScroll('.cose');
        </script>

        <br id="big-bro">
        <div id="aula">
          <h2>Aula</h2>
          <img src="{{ url_for('static', filename='images/mappa.png') }}">
        </div>


        
            <div class="text_partner">
              <div class="parte_principale">
                <h2 class="partner">Partner scolastici</h2>
                      <p>
                        - Vicenza: IIS Canova <br>
                        - Vicenza: ITIS Rossi <br>
                        - Schio: Liceo Tron-Zanella <br>
                        - Montecchio: IIS Silvio Ceccato <br>
                        - Thiene: ITET Aulo Ceccato <br>
                      </p>
                  <h2 class="partner">Partner e organizzazioni operative:</h2>
                  <p>
                      - Con il supporto della Fondazione CariVerona<br>
                      - City Campus - <a href="https://citycampusvicenza.it/">https://citycampusvicenza.it/</a><br>
                      - Cooperativa Urbana<br>
                      - Referente mobilità: civi&co e veloCittà<br>
                      - Referente Mobility Corner: Camposaz<br>
                      - Vicenza: Arci Servizio Civile<br>
                      - Schio: Samarcanda coop. sociale<br>
                      - Montecchio: Piano Infinito<br>
                      - Thiene: Radicà cooperativa sociale<br>
                  </p>
                  <h2 class="partner">Partner istituzionali</h2>
                      <p>
                      - Provincia di Vicenza<br>
                      - USRV-Ufficio VIII - Ambito Territoriale di Vicenza<br>
                      </p>
                  </div>
                  </div>


<footer class="footerr">
  <div>
    <br id="big-bro">
      <p>
        © 2024 Studenti SilvioCeccato.<br>
        Crediti: <br>Programmatore principale:Pratham Madaan 2BI, <br>Altri programmatori:Giordano Peressini 2AI, <br>Referente: Professor Gianmario Pocchettini<br> Logo: Samuele Todesco, 2BI<br>
        Preside Istituto: prof.ssa Antonella Sperotto
      </p>
      <img src="/static/images/piano_infinito.jpg" alt="logo piano infinito" id="logo_piano_infinito">
    </div>
    <br>
</footer>

</body>
</html>
